@media only screen and (min-width: 320px) and (max-width: 479px) {}

@media only screen and (min-width: 480px) and (max-width: 767px) {}

@media only screen and (min-width: 768px) and (max-width: 991px) {}

@media only screen and (min-width: 992px) and (max-width: 1199px) {}

@media only screen and (min-width: 1200px) and (max-width: 1439px) {
  .left__sidebar {
    width: 21.5%;
    padding: 15px 7.5px;
  }
  .left__sidebar .nav--ubax .nav__item-title {
    max-width: 239px;
    font-size: 14px;
    margin-right: 3px;
  }
  .left__sidebar .nav__link:hover .nav__item-title, .left__sidebar .nav--ubax .nav__item-title.current {
    font-size: 14px;
    font-weight: 700;
  }
  .left__sidebar .nav__link:hover .nav__item-descr {
    font-size: 11px;
  }
  .left__sidebar .nav__link:hover .nav__item-descr, .left__sidebar .nav--ubax .nav__item-descr.current {
    font-size: 11px;
    font-weight: 500;
  }
  .left__sidebar .special__offers .icon-mini-arr-right {
    top: -3px;
  }
  .main__content {
    width: 78.5%;
  }
  .main__content .header {
    padding: 10px 0 10px 35px;
  }
  .main__content .header__title {
    font-size: 28px;
  }
  .main__content .information {
    width: 75px;
    height: 75px;

    .circlephone {
      width: 70px;
      height: 70px;
      bottom: 0;
      right: 0;
    }
    .circle-fill {
      width: 65px;
      height: 65px;
      top: 4px;
      right: 4px;
    }
    .img-circle {
      width: 50px;
      height: 50px;
    }
    .img-circleblock {
      top: 4px;
      left: 13px;
    }
  }
  .main__content .container {
    max-width: 950px;
  }
  .main__content .choice .offer {
    display: inline-block;
    width: 30%;
  }
  .main__content .choice .options {
    display: inline-block;
    width: 65%;
  }
  .jq-selectbox__select-text {
    width: 120px!important;
  }

}
@media only screen and (min-width: 1440px) and (max-width: 1599px) {
  .left__sidebar {
    width: 19.5%;
  }
  .left__sidebar .nav--ubax .nav__item-title {
    max-width: 235px;
  }
  .left__sidebar .special__offers .icon-mini-arr-right {
    top: -2px;
  }
  .main__content {
    width: 80.5%;
  }
  .main__content .header {
    padding: 10px 0 10px 50px;
  }
  .main__content .header__exit .icon-exit:before {
    top: 8px;
  }

  .main__content .header__exit {
    padding-top: 9px;
  }
  .main__content .information {

    .circlephone {
      bottom: -4px;
      right: -4px;
    }
    .img-circleblock {
      top: 10px;
      left: 17px;
    }
  }
  .main__content .container {
    max-width: 1060px;
  }
  .main__content .choice .offer {
    display: inline-block;
    width: 38%;
  }
  .main__content .choice .options {
    display: inline-block;
    width: 55%;
  }
  .jq-selectbox__select-text {
    width: 120px!important;
  }

}

@media only screen and (min-width: 1600px) and (max-width: 1719px) {
  .left__sidebar {
    width: 18%;
    position: relative;
    z-index: 5;
  }
  .left__sidebar .nav--ubax .nav__item-title {
    max-width: 239px;
    font-size: 15px;
    margin-right: 5px;
  }
  .left__sidebar .nav__link:hover .nav__item-title, .left__sidebar .nav--ubax .nav__item-title.current {
    font-size: 15px;
    font-weight: 700;
  }
  .left__sidebar .nav__link:hover .nav__item-descr {
    font-size: 12px;
  }
  .left__sidebar .nav__link:hover .nav__item-descr, .left__sidebar .nav--ubax .nav__item-descr.current {
    font-size: 12px;
    font-weight: 500;
  }
  .main__content {
    width: 82%;
    margin-left: -5px;
    position: relative;
    z-index: 1;
  }
  .main__content .header {
    padding: 10px 0 10px 60px;
  }
  .main__content .header__title {
    font-size: 31px;
  }
  .main__content .header__exit .icon-exit:before {
    top: 8px;
  }
  .main__content .header__exit {
    padding-top: 9px;
  }
  .icon {
    font-size: 31px;
  }

  .main__content .information {

    .icon-info{
      font-size: 32px;
    }
    .circlephone {
      bottom: -4px;
      right: -2px;
    }
    .img-circleblock {
      top: 8px;
      left: 17px;
    }
  }
  .main__content .container {
    max-width: 1210px;
  }
  .main__content .choice .offer {
    display: inline-block;
    width: 46%;
  }
  .main__content .choice .options {
    display: inline-block;
    width: 48%;
  }
}
@media only screen and (min-width: 1720px) and (max-width: 1819px) {
  .left__sidebar {
    width: 16.5%;
  }
  .left__sidebar .nav--ubax .nav__item-title {
    max-width: 239px;
  }
  .main__content {
    width: 83.5%;
  }
  .icon {
    font-size: 33px;
  }
  .main__content .header {
    padding: 10px 0 10px 65px;
  }
  .main__content .header__exit .icon-exit:before {
    top: 8px;
  }
  .main__content .header__exit {
    padding-top: 9px;
  }
  .main__content .information {
    .circlephone {
      width: 85px;
      height: 85px;
      bottom: -2px;
      right: 2px;
    }
    .img-circleblock {
      top: 10px;
      left: 17px;
    }
  }
}
@media only screen and (min-width: 1820px) and (max-width: 1950px) {
  .left__sidebar {
    width: 15.5%;
  }
  .left__sidebar .nav--ubax .nav__item-title {
    max-width: 246px;
  }
  .main__content {
    width: 84.5%;
  }
  .main__content .header{
    padding: 10px 0 10px 65px;
  }
  .icon {
    font-size: 33px;
  }
  .main__content .header__exit .icon-exit:before {
    top: 8px;
  }
  .main__content .header__exit {
    padding-top: 9px;
  }
  .main__content .information {
    .circlephone {
      width: 85px;
      height: 85px;
      bottom: -2px;
      right: 2px;
    }
    .img-circleblock {
      top: 10px;
      left: 17px;
    }
  }
}