.icon {
    font-size: 32px;
}

.icon:before {
    content:' ';
    vertical-align:middle;
    display: inline-block;
    background-image: url("../img/sprite.svg");
    background-repeat: no-repeat;
    background-size: 1.09375em 11.125em;
}

.no-svg .icon:before {
    background-image: url("../img/sprite.png");
}



  .icon.icon-arrow-left:before {
      background-position: 0em 0em;
      width: 0.3125em;
      height: 0.5em;
  }




  .icon.icon-arrow-right:before {
      background-position: 0em -0.5em;
      width: 0.28125em;
      height: 0.5em;
  }




  .icon.icon-check:before {
      background-position: 0em -1em;
      width: 0.4375em;
      height: 0.40625em;
  }




  .icon.icon-exit:before {
      background-position: 0em -1.40625em;
      width: 0.625em;
      height: 0.5625em;
  }




  .icon.icon-facebook:before {
      background-position: 0em -1.96875em;
      width: 0.5em;
      height: 0.53125em;
  }




  .icon.icon-fly:before {
      background-position: 0em -2.5em;
      width: 0.59375em;
      height: 0.5em;
  }




  .icon.icon-info:before {
      background-position: 0em -3em;
      width: 0.8125em;
      height: 0.8125em;
  }




  .icon.icon-light-star:before {
      background-position: 0em -3.8125em;
      width: 0.6875em;
      height: 0.65625em;
  }




  .icon.icon-login:before {
      background-position: 0em -4.46875em;
      width: 1.09375em;
      height: 0.90625em;
  }




  .icon.icon-loop:before {
      background-position: 0em -5.375em;
      width: 0.46875em;
      height: 0.46875em;
  }




  .icon.icon-mini-arr-down:before {
      background-position: 0em -5.84375em;
      width: 0.34375em;
      height: 0.34375em;
  }




  .icon.icon-mini-arr-right:before {
      background-position: 0em -6.1875em;
      width: 0.34375em;
      height: 0.34375em;
  }




  .icon.icon-mini-arr-up:before {
      background-position: 0em -6.53125em;
      width: 0.34375em;
      height: 0.375em;
  }




  .icon.icon-phone:before {
      background-position: 0em -6.90625em;
      width: 0.3125em;
      height: 0.53125em;
  }




  .icon.icon-shopping-cart:before {
      background-position: 0em -7.4375em;
      width: 0.6875em;
      height: 0.65625em;
  }




  .icon.icon-star:before {
      background-position: 0em -8.09375em;
      width: 0.6875em;
      height: 0.65625em;
  }




  .icon.icon-star-05:before {
      background-position: 0em -8.75em;
      width: 0.6875em;
      height: 0.65625em;
  }




  .icon.icon-star-not:before {
      background-position: 0em -9.40625em;
      width: 0.6875em;
      height: 0.65625em;
  }




  .icon.icon-twitter:before {
      background-position: 0em -10.0625em;
      width: 0.5em;
      height: 0.53125em;
  }




  .icon.icon-yotube:before {
      background-position: 0em -10.59375em;
      width: 0.5em;
      height: 0.53125em;
  }





