<header class="header">
    <span class="header__title">Магазин</span>
    <span class="header__tape">Лента</span>
    <a href="#" class="header__exit"><span class="icon icon-exit"></span>Выход</a>
</header>
<a href="#" class="information" id="popup__toggle" onclick="return false;">
    <div class="circlephone" style="transform-origin: center;"></div>
    <div class="circle-fill" style="transform-origin: center;"></div>
    <div class="img-circle transform-x-y" style="transform-origin: center;">
        <span class="img-circleblock icon icon-info" style="transform-origin: center;"></span>
    </div>
</a>