<header class="header">
    <a href="#" class="logo-mobile">
        <img src="../img/logo.png" alt="pic">
    </a>
    <span class="header__title-login">Магазин</span>
    <span class="header__tape">Лента</span>
    <span class="header__group">
        <a href="#" class="header__group-login"><span class="icon icon-login"></span>Логин</a>
        <a href="index.html" class="header__group-exit"><span class="icon icon-exit"></span><span class="icon icon-ex"></span>Выход</a>
    </span>
</header>
<div class="pulse">
    <a href="#" class="information" id="popup__toggle">
        <div class="circlephone" style="transform-origin: center;"></div>
        <div class="circle-fill" style="transform-origin: center;"></div>
        <div class="img-circle transform-x-y" style="transform-origin: center;">
            <span class="img-circleblock icon icon-info" style="transform-origin: center;"></span>
        </div>
    </a>
    <div class="info__block">
        <ul>
            <li><span class="icon icon-phone"></span><span>050 428-21-43<br>050 428-21-43</span></li>
            <li><span class="icon icon-fly"><span>idtc-hyalual@hyalual.com</span></li>
        </ul>
        <div class="social">
            <span class="icon icon-facebook"></span>
            <span class="icon icon-twitter"></span>
            <span class="icon icon-yotube"></span>
        </div>
    </div>
</div>