<div class="left__sidebar">
    <a href="#" class="logo">
        <img src="../img/logo.png" alt="pic">
    </a>
    <div class="line"></div>
    <a href="#" class="cart">
       <span class="icon icon-shopping-cart"></span>
        <span class="quantity">2</span>
        <span class="sum">2500</span>
    </a>

    <nav class="nav nav--ubax">
        <a href="#" class="nav__link">
            <span class="nav__item-title">Партнерство <span class="nav__item-descr">Уникальные программы сотрудничества</span></span>
            <button class="nav__item" aria-label="Item 1"></button>
        </a>
        <a href="#" class="nav__link">
            <span class="nav__item-title" aria-label="Item 2">Магазин <span class="nav__item-descr">Заказ продукции с доставкой на дом</span></span>
            <button class="nav__item" aria-label="Item 2"></button>
        </a>
        <a href="#" class="nav__link">
            <span class="nav__item-title">Обучение <span class="nav__item-descr">Спикеры, у которых стоит поучиться</span></span>
            <button class="nav__item" aria-label="Item 3"></button>
        </a>
        <a href="#" class="nav__link">
            <span class="nav__item-title">Новые (сочетанные) методики <span class="nav__item-descr">Станьте частью научно-исследовательского потенциала компании</span></span>
            <button class="nav__item" aria-label="Item 4"></button>
        </a>
        <a href="#" class="nav__link">
            <span class="nav__item-title">Инфо-база <span class="nav__item-descr">О чем стоит знать каждому профессионалу</span></span>
            <button class="nav__item" aria-label="Item 5"></button>
        </a>
    </nav>

    <span class="special__offers">Специальные предложения <span class="icon icon-mini-arr-right"></span></span>
    
    <div class="filter">
        <ul>
            <li class='has-sub'><a href='#'><span class="icon icon-check"></span><span>Инъекционные препараты</span></a>
                <ul>
                    <li class='has-sub'><a href='#'><span class="icon icon-check"></span><span>Зоны применения</span></a>
                        <ul>
                            <li><a href='#'><span class="icon icon-check"></span><span>Лицо</span></a></li>
                            <li><a href='#'><span class="icon icon-check"></span><span>Шея/декольте</span></a></li>
                            <li><a href='#'><span class="icon icon-check"></span><span>Кисти рук</span></a></li>
                            <li><a href='#'><span class="icon icon-check"></span><span>Руки</span></a></li>
                            <li><a href='#'><span class="icon icon-check"></span><span>Спина</span></a></li>
                            <li><a href='#'><span class="icon icon-check"></span><span>Живот</span></a></li>
                            <li><a href='#'><span class="icon icon-check"></span><span>Ягодицы</span></a></li>
                            <li><a href='#'><span class="icon icon-check"></span><span>Бедра</span></a></li>
                        </ul>
                    </li>
                    <li class='has-sub'><a href='#'><span class="icon icon-check"></span><span>Объем</span></a>
                        <ul>
                            <li><a href='#'><span class="icon icon-check"></span><span>item</span></a></li>
                            <li><a href='#'><span class="icon icon-check"></span><span>item</span></a></li>
                            <li><a href='#'><span class="icon icon-check"></span><span>item</span></a></li>
                        </ul>
                    </li>
                    <li class='has-sub'><a href='#'><span class="icon icon-check"></span><span>По проблемам</span></a>
                        <ul>
                            <li><a href='#'><span class="icon icon-check"></span><span>item</span></a></li>
                            <li><a href='#'><span class="icon icon-check"></span><span>item</span></a></li>
                            <li><a href='#'><span class="icon icon-check"></span><span>item</span></a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class='has-sub'><a href='#'><span class="icon icon-check"></span><span>Постпроцедурный уход</span></a>
                <ul>
                    <li class='has-sub'><a href='#'><span class="icon icon-check"></span><span>Зоны применения</span></a>
                        <ul>
                            <li><a href='#'><span class="icon icon-check"></span><span>Лицо</span></a></li>
                            <li><a href='#'><span class="icon icon-check"></span><span>Шея/декольте</span></a></li>
                            <li><a href='#'><span class="icon icon-check"></span><span>Кисти рук</span></a></li>
                            <li><a href='#'><span class="icon icon-check"></span><span>Руки</span></a></li>
                            <li><a href='#'><span class="icon icon-check"></span><span>Спина</span></a></li>
                            <li><a href='#'><span class="icon icon-check"></span><span>Живот</span></a></li>
                            <li><a href='#'><span class="icon icon-check"></span><span>Ягодицы</span></a></li>
                            <li><a href='#'><span class="icon icon-check"></span><span>Бедра</span></a></li>
                        </ul>
                    </li>
                    <li class='has-sub'><a href='#'><span class="icon icon-check"></span><span>Объем</span></a>
                        <ul>
                            <li><a href='#'><span class="icon icon-check"></span><span>item</span></a></li>
                            <li><a href='#'><span class="icon icon-check"></span><span>item</span></a></li>
                            <li><a href='#'><span class="icon icon-check"></span><span>item</span></a></li>
                        </ul>
                    </li>
                    <li class='has-sub'><a href='#'><span class="icon icon-check"></span><span>По проблемам</span></a>
                        <ul>
                            <li><a href='#'><span class="icon icon-check"></span><span>item</span></a></li>
                            <li><a href='#'><span class="icon icon-check"></span><span>item</span></a></li>
                            <li><a href='#'><span class="icon icon-check"></span><span>item</span></a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class='has-sub'><a href='#'><span class="icon icon-check"></span><span>Домашний уход</span></a>
                <ul>
                    <li class='has-sub'><a href='#'><span class="icon icon-check"></span><span>Зоны применения</span></a>
                        <ul>
                            <li><a href='#'><span class="icon icon-check"></span><span>Лицо</span></a></li>
                            <li><a href='#'><span class="icon icon-check"></span><span>Шея/декольте</span></a></li>
                            <li><a href='#'><span class="icon icon-check"></span><span>Кисти рук</span></a></li>
                            <li><a href='#'><span class="icon icon-check"></span><span>Руки</span></a></li>
                            <li><a href='#'><span class="icon icon-check"></span><span>Спина</span></a></li>
                            <li><a href='#'><span class="icon icon-check"></span><span>Живот</span></a></li>
                            <li><a href='#'><span class="icon icon-check"></span><span>Ягодицы</span></a></li>
                            <li><a href='#'><span class="icon icon-check"></span><span>Бедра</span></a></li>
                        </ul>
                    </li>
                    <li class='has-sub'><a href='#'><span class="icon icon-check"></span><span>Объем</span></a>
                        <ul>
                            <li><a href='#'><span class="icon icon-check"></span><span>item</span></a></li>
                            <li><a href='#'><span class="icon icon-check"></span><span>item</span></a></li>
                            <li><a href='#'><span class="icon icon-check"></span><span>item</span></a></li>
                        </ul>
                    </li>
                    <li class='has-sub'><a href='#'><span class="icon icon-check"></span><span>По проблемам</span></a>
                        <ul>
                            <li><a href='#'><span class="icon icon-check"></span><span>item</span></a></li>
                            <li><a href='#'><span class="icon icon-check"></span><span>item</span></a></li>
                            <li><a href='#'><span class="icon icon-check"></span><span>item</span></a></li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="copyright transX">&copy; Institute Hyalual 2017</div>
</div>