<div class="left__sidebar">
    <a href="#" class="logo">
        <img src="../img/logo.png" alt="pic">
    </a>
    <div class="line"></div>
    <a href="#" class="cart icon icon-shopping-cart"></a>

    <nav class="nav nav--ubax">
        <a href="#" class="nav__link">
            <span class="nav__item-title">Партнерство <span class="nav__item-descr">Уникальные программы сотрудничества</span></span>
            <button class="nav__item" aria-label="Item 1"></button>
        </a>
        <a href="#" class="nav__link">
            <span class="nav__item-title" aria-label="Item 2">Магазин <span class="nav__item-descr">Заказ продукции с доставкой на дом</span></span>
            <button class="nav__item" aria-label="Item 2"></button>
        </a>
        <a href="#" class="nav__link">
            <span class="nav__item-title">Обучение <span class="nav__item-descr">Спикеры, у которых стоит поучиться</span></span>
            <button class="nav__item" aria-label="Item 3"></button>
        </a>
        <a href="#" class="nav__link">
            <span class="nav__item-title">Новые (сочетанные) методики <span class="nav__item-descr">Станьте частью научно-исследовательского потенциала компании</span></span>
            <button class="nav__item" aria-label="Item 4"></button>
        </a>
        <a href="#" class="nav__link">
            <span class="nav__item-title">Инфо-база <span class="nav__item-descr">О чем стоит знать каждому профессионалу</span></span>
            <button class="nav__item" aria-label="Item 5"></button>
        </a>
    </nav>
</div>